.ex {

	padding: 60px 0;


	.container {
		max-width: 1172px;
	}
	&__inner {

	}

	&__title {
		margin-bottom: 20px;
	}

	&__subtitle {
		margin-bottom: 60px;
	}

	&__body {
		display: flex;
		gap: 52px;
		margin-bottom: 60px;
		&_item {

			&_img {

			}

			&_content {
				padding: 20px 0;
			}

			&_title {
				margin-bottom: 20px;

				font-size: 25px;
				line-height: 31px;
				font-weight: 500;

				font-style: italic;
			}

			&_text {
				line-height: 28px;
			}
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
	}
}