.header {
	padding: 40px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 100000000;
	}

	&__logo {
		display: block;
		max-width: 220px;
		max-height: 38px;


	}

	&__nav {
		// display: none;
		&_list {
			display: flex;

			li {

				&:not(:last-child) {
					margin-right: 35px;
				} 
			}
		}

		&_item {
			display: block;
			transition: $anim;
			&:hover {
				color: $blue;
			}

			
		}
	}

	&__btn {
		display: inline-block;
		background: #FFFFFF;
		border-radius: 50px;
		padding: 12px 51px;

		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: $blue;
		font-style: italic;
		text-align: center;

		transition: $anim;


		&:hover {

			background-color: $blue;
			color: #fff;
		}
		span {
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			font-style: normal;

		}
	}

	.burger__btn {
		width: 41px;
		position: relative;
		height: 31px;
		display: none;

		div {
			
			background-color: #fff;
			position: absolute;
			height: 3px;
			border-radius: 50px;
			transition: $anim;

			&:nth-child(1) {
				width: 100%;
				top: 0;
				right: 0;
			}

			&:nth-child(2) {
				width: 75%;
				top: calc(50% - 1.5px);
				right: 0;
			}

			&:nth-child(3) {
				width: 50%;
				bottom: 0;
				right: 0;
			}

		}
	}

	.burger__btn.btn-open {

		div {
			&:nth-child(1) {
				width: 100%;
				top: calc(50% - 1.5px);
				right: 0;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				width: 75%;
				top: calc(50% - 1.5px);
				right: 0;
				transform: translateX(-25px);
				opacity: 0;
			}

			&:nth-child(3) {
				width: 100%;
				bottom: calc(50% - 1.5px);
				right: 0;
				transform: rotate(-45deg);
			}
		}
	}

	.mob__menu {
		display: none;

		&_in {

		}

		&_logo {

		}

		&_list {


			li {
				
			}
		}

		&_item {

		}
	}

	.mob__menu.menu-open {
		transform: translateY(100%);
	}
}


@media (max-width: 1380px) {

	.header {


		&__inner {

		}	

		&__logo {
			margin-right: 5px;
		}

		&__nav {


			&_list {
				li:not(:last-child) {
					margin-right: 15px;
				}
			}

			&_item {


			}
		}

		&__btn {
			padding: 12px 15px;
		}
	}
}


@media (max-width: 1200px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $black;
		z-index: 1000000;
		&__inner {

		}

		&__logo {
			margin-right: 0;
		}
		&__nav {
			display: none;
		}

		&__btn {
			padding: 7px 42px;
			font-size: 14px;
			line-height: 16.5px;
			span {
				font-size: 14px;
				line-height: 16.5px;
			}
		}

		.mob__menu {
			padding-top: 20px;
			// display: block;
			display: flex;
			justify-content: center;
			transition: $anim;
			position: fixed;
			right: 0;
			top: 83px;
			width: 100%;
			height: 50vh;
			transform: translateX(100%);
			transition: all .3s ease;
			background-color: $black; 
			z-index: 1000000;
			&_in {
				padding: 34px 60px;

			}

			&_logo {
				display: none;
				max-width: 220px;
				max-height: 38px;
				img {

				}
			}

			&_list {

			}
			&_item {
				text-align: center;
				margin-bottom: 20px;
				display: block;
			}
		}

		.burger__btn {
			display: block;
		}

		.mob__menu.menu-open {
			transform: translateX(0);
		}
	}
}


@media (max-width: 600px) {
	.header {
		padding: 0;
		&__inner {
			padding: 20px 0;
		}

		&__logo {
			display: none;
		}

		&__btn {
			padding: 5px 21px;
		}

		.mob__menu {

			&_logo {
				display: block;
				margin-bottom: 20px;
			}

			&_in {
				padding-right: 90px;
				padding-left: 40px;
			}

			&_item {
				text-align: left;
				font-size: 18px;
				line-height: 21px;
			}
		}
	}
}

@media (max-width: 375px) {

	.header {

		.mob__menu {


			&_in {
				padding-right: 50px;
			}
		}
	}
}