.header {
	padding: 40px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {
		display: block;
		max-width: 220px;
		max-height: 38px;


	}

	&__nav {
		// display: none;
		&_list {
			display: flex;

			li {

				&:not(:last-child) {
					margin-right: 35px;
				} 
			}
		}

		&_item {
			display: block;
			transition: $anim;
			&:hover {
				color: $blue;
			}

			
		}
	}

	&__btn {
		display: inline-block;
		background: #FFFFFF;
		border-radius: 50px;
		padding: 12px 51px;

		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: $blue;
		font-style: italic;
		text-align: center;

		transition: $anim;


		&:hover {

			background-color: $blue;
			color: #fff;
		}
		span {
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			font-style: normal;

		}
	}

	.burger__btn {
		width: 41px;
		position: relative;
		height: 31px;
		display: none;

		div {
			
			background-color: #fff;
			position: absolute;
			height: 3px;
			border-radius: 50px;
			transition: $anim;

			&:nth-child(1) {
				width: 100%;
				top: 0;
				right: 0;
			}

			&:nth-child(2) {
				width: 75%;
				top: calc(50% - 1.5px);
				right: 0;
			}

			&:nth-child(3) {
				width: 50%;
				bottom: 0;
				right: 0;
			}

		}
	}

	.mob__menu {
		display: none;

		&_in {

		}

		&_logo {

		}

		&_list {


			li {
				
			}
		}

		&_item {

		}
	}
}


@media (max-width: 1380px) {

	.header {


		&__inner {

		}	

		&__logo {
			margin-right: 5px;
		}

		&__nav {


			&_list {
				li:not(:last-child) {
					margin-right: 15px;
				}
			}

			&_item {


			}
		}

		&__btn {
			padding: 12px 15px;
		}
	}
}


@media (max-width: 1200px) {
	.header {
		position: relative;
		&__inner {

		}

		&__logo {
			margin-right: 0;
		}
		&__nav {
			display: none;
		}

		&__btn {
			padding: 7px 42px;
			font-size: 14px;
			line-height: 16.5px;
			span {
				font-size: 14px;
				line-height: 16.5px;
			}
		}

		.mob__menu {
			// display: block;
			display: block;
			transition: $anim;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			transform: translateX(100%);
			&_in {

			}

			&_logo {

			}

			&_list {

			}
			&_item {

			}
		}

		.burger__btn {
			display: block;
		}
	}
}


@media (max-width: 600px) {
	.header {
		padding: 0;
		&__inner {
			padding: 20px 0;
		}

		&__logo {
			display: none;
		}

		&__btn {
			padding: 5px 21px;
		}
	}
}