.ind {
	padding: 60px 0;
	&__inner {

	}

	&__title {
		margin-bottom: 20px;
	}

	&__subtitle {
		margin-bottom: 60px;
		font-size: 35px;
		line-height: 45px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__btn {
		display: flex;
		justify-content: center;

		.btn {
			padding: 18px 158px;
		}
	}

	&__tabs {

	}

	&__tab {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		font-style: italic;
		cursor: pointer;
	}

	&__tab.ind-active {
		color: $blue;
	}

	&__body_wr {
		max-width: 950px;

	}

	&__body {
		gap: 30px;
		display: flex;
		margin-bottom: 50px;

		&_item {
			width: 100%;
			&_img {
				margin-bottom: 20px;
				overflow: hidden;
				border-radius: 10px;max-height: 280px;
			}

			&_text {
				line-height: 28px;
			}
		}

	}


}


@media (max-width: 1380px) {

	.ind {


		&__body_wr {
			max-width: 750px;
		}
	}
}

@media (max-width: 1200px) {
	.ind {


		&__body_wr {
			max-width: 600px;
		}
	}
}

@media (max-width: 1050px) {

	.ind {


		&__body_wr {
			max-width: 500px;
		}
		&__body {
			flex-wrap: wrap;
			&_item {
				width: 100%;
			}
		}

	}
}

@media (max-width: 960px) {

	.ind {


		&__body_wr {
			max-width: 350px;
		}


	}
}

@media (max-width: 768px) {

	.ind {

		&__content {
			flex-wrap: 	wrap;
		}

		&__tabs {
			width: 100%;
			margin-bottom: 20px;		
		}

		&__tab {
			font-size: 20px;	
			line-height: 23px;	
		}

		&__body_wr {
			width: 100%;	
			max-width: 	unset;
		}

		&__body {
			flex-wrap: nowrap;

			width: 100%;	

			&_item {

				&_descr {
					font-size: 18px;	
					line-height: 25px;	
				}
			}
		}

		&__subtitle {
			font-size: 25px;	
			line-height: 32px;	
			margin-bottom: 50px;	
		}
	}
}

@media (max-width: 600px) {
	.ind {


		&__tabs {
			display: none;
		}

		&__body {
			display: flex !important;
			flex-wrap: wrap;

			&_item {
				width: 100%;
			}
		}
	}
}