.prev {

	padding-top: 30px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	

	&__content {
		&_top {
			color: $aqua;
			line-height: 28px;
			font-style: italic;
			font-weight: 400;
			max-width: 327px;

			margin-bottom: 30px;
		}

		&_name {
			font-size: 60px;
			line-height: 71px;
			color: $blue;
			font-weight: 700;
			font-style: italic;

			margin-bottom: 30px;
		}

		&_title {
			font-weight: 400;
			font-size: 45px;
			line-height: 58px;

			margin-bottom: 30px;
			max-width: 663px;

			span {
				text-transform: uppercase;
			}
		}

		&_list {
			margin-bottom: 30px;

		}

		&_item {
			padding-left: 40px;
			position: relative;
			line-height: 30px;
			margin-bottom: 15px;

			&:before {
				content: url('../img/check.svg');
				
				top: -15px;
				left: -10px;
				position: absolute;	
			}
		}

		&_btn {
			margin-bottom: 100px;
		}

		
	}

	&__img {
		margin-top: -50px;
	}

	&__bot {
		font-style: italic;
		font-size: 30px;
		line-height: 35px;
		position: relative;
		max-width: 450px;

		&:after {
			content: url('../img/downn.svg');
			top: -10px;
			right: 0;
			position: absolute;
		}
		span {
			text-transform: uppercase;
		}
	}
}

@media (max-width: 1200px) {
	.prev {
		padding-top: 150px;
		&__inner {
			align-items: flex-start;
		}

		&__content {


			&_top {
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 20px;
			}

			&_name {
				font-size: 38px;
				line-height: 45px;
				margin-bottom: 20px;
			}

			&_title {
				font-size: 25px;
				line-height: 32px;
				margin-bottom: 20px;
			}

			&_list {

			}

			&_item {
				font-size: 18px;
				line-height: 25px;
			}
			&_btn {
				font-size: 18px;
				line-height: 21px;
				padding: 17px 40px;
			}
		}

		&__img {
			margin: 0;
			max-width: 384px;
			width: 100%;
		}


	}
}

@media (max-width: 720px) {
	.prev {


		&__content {

			&_btn {
				padding: 14px 20px;
			}
		}
	}
}


@media (max-width: 600px) {
	.prev {
		padding-top: 70px;

		&__inner {
			flex-wrap: wrap;
			
			justify-content: center;
		}

		&__content {
			width: 100%;
			order: 2;
			display: flex;
			flex-direction: column;
			align-items: flex-start;


			&_top {
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 10px;
				max-width: 231px;
			}
			&_title {
				margin-bottom: 13px;
				font-size: 19px;
				line-height: 25px;
			}

			&_name {
				font-size: 32px;
				line-height: 38px;
				margin-bottom: 10px;
			}

			&_list {
				order: 5;
				margin-bottom: 41px;
			}

			&_item {
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 15px;
			}

			&_btn {
				order: 4;
				margin-bottom: 25px;
				width: 100%;
				padding: 15px 0;
				text-align: center;
			}
		}

		&__img {
			width: 100%;	
			order: 1;
		}

		&__bot {
			font-size: 18px;
			line-height: 24px;
			padding: 0;
			padding-bottom: 60px;
			text-align: center;

			&:after {
				width: 50px;
				top: unset;
				bottom: 0;
				left: calc(50% - 25px);
			}	
		}
	}
}