.speak {
	.container {
		max-width: 1172px;

	}
	padding: 60px 0;
	&__inner {

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__img {
	}

	&__content {
		max-width: 576px;

		&_title {
			margin-bottom: 20px;
		}

		&_text {
			line-height: 28px;
			margin-bottom: 40px;
		}

		&_info {

			color: $aqua;
			line-height: 23px;
			font-weight: 500;
			font-style: italic;
			div {
				display: inline-block;
			}
			span {
				display: inline-block;
				border-radius: 2px;
				font-size: 45px;
				line-height: 53px;
				color: $blue;
				padding: 4px 12px;
				background-color: #fff;
				
				&:nth-child(1) {
					margin: 0 3.5px 0 30px;
				}
				&:nth-child(2) {
					margin: 0 30px 0 3.5px;
				}
			}

		}
	}

	&__form {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		input {
			background-color: #fff;
			border-radius: 50px;
			padding: 20px;
			width: 100%;
			font-size: 18px;
			line-height: 21px;
			&::placeholder {
				color: $gray;	
			}
		}

		button {
			width: 100%;
		}

		.btn {
			padding: 18px 50px;
		}
	}
}

@media (max-width: 1020px) {
	.speak {


		&__form {
			gap: 15px;
			.btn {
				padding: 18px 30px;
			}
		}
	}
}

@media (max-width: 936px) {
	.speak {

		&__inner {

		}



		&__img {
			width: 50%;

			img {
				object-fit: cover;
				// width: 120%;
				// height: 120%;
			}
		}

		&__content {
			width: 50%;

			&_info {
				font-size: 18px;
				line-height: 21px;

				span {

					&:nth-child(1) {
						margin: 0 3px 0 9px;
					}

					&:nth-child(2) {
						margin: 0 9px 0 3px;
					}
				}
			}
		}

		&__form {
			flex-direction: column;
			max-width: 336px;
			margin: 0 auto;
			.btn {
				padding: 18px 20px;
			}
		}
	}
}

@media (max-width: 768px) {

	.speak {


		&__inner {

		}

		&__img {
			margin-left: -30px;
			img {
				width: 120%;
				height: 120%;
			}
		}

		&__content {

			&_text {
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 16px;
			}
		}
	}
}

@media (max-width: 765px) {
	.speak {

		&__content {

			&_info {
				text-align: center;
				div {
					display: block;
					margin: 4px 0;
				}
				span {

				}
			}
		}
	}
}

@media (max-width: 600px) {

	.speak {

		&__inner {
			flex-direction: column;
		}

		&__img {
			width: 100%;
			margin: 0;
			img {
				width: 100%;
				height: 100%;

			}
		}
		&__content {
			width: 100%;

			&_text {
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
}