* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input, button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    overflow-x: hidden;
    background-color: $black;

}

main {
    overflow-x: hidden;
    
}

//HELPERS

.container {
    max-width: 1481px;
    padding: 0 20px;
    margin: 0 auto; 
    width: 100%;
}

.btn {

    @include btn;
}

.section-title {

    @include section-title;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (max-width: 475px) {
    .section-title {
        font-size: 19px;
        line-height: 22.5px;
    }
}


.show {
    display: flex;
}

.hide {
    display: none !important;
}

.fade {
    animation-name: fade;
    animation-duration: .5s;
    animation-timing-function: ease;
}

@keyframes fade {
    from {
        transform: translateY(-100px) scale(0.5);
        opacity: 0.1;

    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

// .mob__menu {
//     position: absolute;
//     display: none;
// }

// @media (max-width: 768px) {

//     .mob__menu {
//         display: block;
//     }
// }


